<div [ngClass]="type">
  <header *ngIf="heading !== '' || hasSlottedElements(headingSlotElement)">
    <ui-view-heading [level]="level">
      <ng-container *ngTemplateOutlet="headingContentsTemplate"></ng-container>
    </ui-view-heading>
  </header>
  <div class="body">
    <slot></slot>
  </div>
  <footer>
    <slot name="copyright"></slot>
  </footer>
</div>

<ng-template #headingContentsTemplate>
  <slot (slotchange)="cdr.detectChanges()" name="heading" #headingSlotElement>{{
    heading
  }}</slot>
</ng-template>
