<div [ngClass]="type">
  <header *ngIf="heading !== '' || hasSlottedElements(headingSlotElement)">
    <ng-container [ngSwitch]="level">
      <h1 class="heading" *ngSwitchCase="1">
        <ng-container
          *ngTemplateOutlet="headingContentsTemplate"
        ></ng-container>
      </h1>
      <h2 class="heading" *ngSwitchCase="2">
        <ng-container
          *ngTemplateOutlet="headingContentsTemplate"
        ></ng-container>
      </h2>
      <h3 class="heading" *ngSwitchCase="3">
        <ng-container
          *ngTemplateOutlet="headingContentsTemplate"
        ></ng-container>
      </h3>
      <h4 class="heading" *ngSwitchCase="4">
        <ng-container
          *ngTemplateOutlet="headingContentsTemplate"
        ></ng-container>
      </h4>
      <h5 class="heading" *ngSwitchCase="5">
        <ng-container
          *ngTemplateOutlet="headingContentsTemplate"
        ></ng-container>
      </h5>
      <h6 class="heading" *ngSwitchCase="6">
        <ng-container
          *ngTemplateOutlet="headingContentsTemplate"
        ></ng-container>
      </h6>
      <div class="heading" *ngSwitchDefault>
        <ng-container
          *ngTemplateOutlet="headingContentsTemplate"
        ></ng-container>
      </div>
    </ng-container>
  </header>
  <div class="body">
    <slot></slot>
  </div>
  <footer>
    <slot name="copyright"></slot>
  </footer>
</div>

<ng-template #headingContentsTemplate>
  <slot (slotchange)="cdr.detectChanges()" name="heading" #headingSlotElement>{{
    heading
  }}</slot>
</ng-template>
