/* Inherit font settings (this now qualifies as a private component when we do this) */
:host,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-feature-settings: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

/* Reset for heading tags - because margins are the second worst thing about CSS after cascade */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
