<ng-container [ngSwitch]="type">
  <article class="section" *ngSwitchCase="'article'">
    <ng-container *ngTemplateOutlet="sectionContentsTemplate"></ng-container>
  </article>
  <nav class="section" *ngSwitchCase="'nav'">
    <ng-container *ngTemplateOutlet="sectionContentsTemplate"></ng-container>
  </nav>
  <aside class="section" *ngSwitchCase="'aside'">
    <ng-container *ngTemplateOutlet="sectionContentsTemplate"></ng-container>
  </aside>
  <address class="section" *ngSwitchCase="'address'">
    <ng-container *ngTemplateOutlet="sectionContentsTemplate"></ng-container>
  </address>
  <main class="section" *ngSwitchCase="'main'">
    <ng-container *ngTemplateOutlet="sectionContentsTemplate"></ng-container>
  </main>
  <section class="section" *ngSwitchDefault>
    <ng-container *ngTemplateOutlet="sectionContentsTemplate"></ng-container>
  </section>
</ng-container>

<ng-template #sectionContentsTemplate>
  <header *ngIf="heading !== '' || hasSlottedElements(headingSlotElement)">
    <ui-heading [level]="level">
      <ng-container *ngTemplateOutlet="headingContentsTemplate"></ng-container>
    </ui-heading>
  </header>

  <div
    class="body"
    *ngIf="hasSlottedElements(defaultSlotElement); else bodyContentsTemplate"
  >
    <ng-container *ngTemplateOutlet="bodyContentsTemplate"></ng-container>
  </div>

  <footer
    *ngIf="hasSlottedElements(actionsSlotElement); else footerContentsTemplate"
  >
    <ng-container *ngTemplateOutlet="footerContentsTemplate"></ng-container>
  </footer>
</ng-template>

<ng-template #headingContentsTemplate>
  <slot (slotchange)="cdr.detectChanges()" name="heading" #headingSlotElement>{{
    heading
  }}</slot>
</ng-template>

<ng-template #bodyContentsTemplate>
  <slot (slotchange)="cdr.detectChanges()" #defaultSlotElement></slot>
</ng-template>

<ng-template #footerContentsTemplate>
  <slot
    (slotchange)="cdr.detectChanges()"
    name="actions"
    #actionsSlotElement
  ></slot>
</ng-template>
